<%
    if(item.tags && item.tags.length) {
        var tags = [];
        item.tags.forEach(function(tag){
            tags.push('<span><a href="' + config.root + tag.path + '" class="tags"><i class="fa fa-tags"></i>' + tag.name + '</a></span>');
        });
%>
    <%- tags.join('') %>
<%
    }
%>
